:root {
  --pitch-black: #231c07;
  --bone: #ece2d0;
  --lobster-pink: #c46d5e;
}

:root  > * {
  --md-default-bg-color: var(--bone);
  --md-primary-fg-color: var(--lobster-pink);
  --md-primary-fg-color--light: var(--bone);
  --md-primary-fg-color--dark: var(--pitch-black);
  --md-footer-bg-color: var(--pitch-black);
  --md-accent-fg-color: var(--lobster-pink);
  --md-footer-bg-color--dark: var(--pitch-black);
  --md-footer-fg-color--light: var(--bone);
  --md-footer-fg-color--lighter: var(--bone);
}

[data-md-color-scheme="slate"] {
  --md-default-bg-color: var(--pitch-black);
  --md-footer-bg-color: var(--bone);
  --md-footer-fg-color: var(--pitch-black);
  --md-footer-bg-color--dark: var(--bone);
  --md-footer-fg-color--light: var(--pitch-black);
  --md-footer-fg-color--lighter: var(--pitch-black);
}


.announce-playground {
  display: block;
  text-align: center;
}
